<div class="row">
    <div class="col-md-6">
        <div class="post">
            <img src="img/4223.png" alt="rails">
            <div class="post-content">
                <h3>Lorem Ipsum</h3>
                <small> Posted by Bright on July 8th 2019</small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam vero, rem velit eveniet repellat, et eum fugit eos accusantium quisquam veritatis iste illo, repellendus est debitis? Voluptas deserunt veritatis sapiente
                    odit quod delectus quam rem eaque accusamus, quae odio dolores consequatur. Enim quae ex quos aspernatur sapiente nam, incidunt iusto?</p>

                <a href="" class="btn btn-primary btn-block">Read More>></a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="post">
            <img src="img/4223.png" alt="rails">
            <div class="post-content">
                <h3>Lorem Ipsum</h3>
                <small> Posted by Bright on July 8th 2019</small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam vero, rem velit eveniet repellat, et eum fugit eos accusantium quisquam veritatis iste illo, repellendus est debitis? Voluptas deserunt veritatis sapiente
                    odit quod delectus quam rem eaque accusamus, quae odio dolores consequatur. Enim quae ex quos aspernatur sapiente nam, incidunt iusto?</p>

                <a href="" class="btn btn-primary btn-block">Read More>></a>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="post">
            <img src="img/4223.png" alt="rails">
            <div class="post-content">
                <h3>Lorem Ipsum</h3>
                <small> Posted by Bright on July 8th 2019</small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam vero, rem velit eveniet repellat, et eum fugit eos accusantium quisquam veritatis iste illo, repellendus est debitis? Voluptas deserunt veritatis sapiente
                    odit quod delectus quam rem eaque accusamus, quae odio dolores consequatur. Enim quae ex quos aspernatur sapiente nam, incidunt iusto?</p>

                <a href="" class="btn btn-primary btn-block">Read More>></a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="post">
            <img src="img/4223.png" alt="rails">
            <div class="post-content">
                <h3>Lorem Ipsum</h3>
                <small> Posted by Bright on July 8th 2019</small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam vero, rem velit eveniet repellat, et eum fugit eos accusantium quisquam veritatis iste illo, repellendus est debitis? Voluptas deserunt veritatis sapiente
                    odit quod delectus quam rem eaque accusamus, quae odio dolores consequatur. Enim quae ex quos aspernatur sapiente nam, incidunt iusto?</p>

                <a href="" class="btn btn-primary btn-block">Read More>></a>
            </div>
        </div>

    </div>
</div>